---
// About.astro
---

<section id="about" class="w-full lg:w-[900px] mx-auto py-24 px-4">
    <h2 class="text-3xl font-semibold text-white mb-6">Sobre mí</h2>

    <p class="text-xl text-white opacity-80 leading-relaxed max-w-3xl">
        Soy <strong>Joan Pere Charneco</strong>, técnico superior en Desarrollo
        de Aplicaciones Multiplataforma, especializado en el desarrollo web con
        tecnologías como <strong>Laravel</strong>, <strong>Angular</strong> y <strong
            >PHP</strong
        >. Vivo en <span class="text-red-300/80">Barcelona, España</span>, y
        durante los últimos dos años he estado completamente enfocado en la
        creación de soluciones modernas, accesibles y eficientes tanto en
        frontend como backend.
    </p>

    <p class="text-xl text-white opacity-80 leading-relaxed max-w-3xl mt-6">
        He cursado un Certificado de Profesionalidad en desarrollo web, he
        participado en proyectos formativos en
        <strong>42Barcelona</strong> y he obtenido certificaciones especializadas.
        Me apasiona aprender constantemente, resolver problemas reales con tecnología
        y trabajar en equipo para construir productos de alto impacto.
    </p>
</section>
