---
--- 
<footer style="color: #fff; padding: 20px; text-align: center;">
    <p>&copy; 2024 HotaDev. Todos los derechos reservados.</p>
    <nav>
        <a href="#experiencia" style="color: #fff; margin: 0 10px;">Experiencia</a>
        <a href="#about" style="color: #fff; margin: 0 10px;">Sobre mí</a>
        <a href="#proyectos" style="color: #fff; margin: 0 10px;">Proyectos</a>
        <a href="#contacto" style="color: #fff; margin: 0 10px;">Contacto</a>
    </nav>
</footer>