---
// src/components/Header.astro
---
<header class="relative z-10 flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img 
        class="rounded-full w-20 h-20"  
        src="/profile-pic2.png" 
        alt="hotadev photo" 
    />

    <nav class="flex flex-row gap-x-10 opacity-80 text-white">
        <a href="#top">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#about">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>