---
// src/components/Header.astro
---

<header
    id="main-header"
    class="sticky top-0 z-50 w-full max-w-screen-xl mx-auto px-4 py-4 flex flex-col sm:flex-row sm:items-center sm:justify-between sm:gap-x-12 transition-all duration-500 bg-transparent"
>
    <!-- Logo -->
    <div class="flex justify-center sm:justify-start">
        <img
            class="rounded-full w-16 h-16 sm:w-20 sm:h-20"
            src="/profile-pic2.png"
            alt="hotadev photo"
        />
    </div>

    <!-- Menú -->
    <nav
        class="mt-4 sm:mt-0 flex flex-wrap justify-center sm:justify-end gap-x-6 gap-y-2 text-white text-sm sm:text-base"
    >
        <a href="#top" class="hover:text-blue-400 transition-colors">Inicio</a>
        <a href="#experiencia" class="hover:text-blue-400 transition-colors"
            >Experiencia</a
        >
        <a href="#proyectos" class="hover:text-blue-400 transition-colors"
            >Proyectos</a
        >
        <a href="#about" class="hover:text-blue-400 transition-colors"
            >Sobre mí</a
        >
        <a href="#contacto" class="hover:text-blue-400 transition-colors"
            >Contacto</a
        >
        <a
            href="/cv-hotadev.pdf"
            download
            class="flex items-center gap-2 px-3 py-1 border border-white/10 rounded hover:bg-white/10 transition text-white text-sm"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16v1a1 1 0 001 1h14a1 1 0 001-1v-1M12 12v6m0 0l3-3m-3 3L9 15m3-12a9 9 0 110 18 9 9 0 010-18z"
                ></path>
            </svg>
            CV
        </a>
    </nav>
</header>

<script>
    const header = document.getElementById("main-header")!;

    window.addEventListener("scroll", () => {
        if (window.scrollY > 20) {
            header.classList.add("bg-black/50", "backdrop-blur-md");
        } else {
            header.classList.remove("bg-black/50", "backdrop-blur-md");
        }
    });
</script>
