---
// src/components/SectionContainer.astro
const { class: className, id } = Astro.props;
---

<section
    id={id}
    class={`w-full max-w-screen-lg mx-auto px-4 sm:px-6 ${className}`}
>
    <slot />
</section>
