---
const { class: className = "", id } = Astro.props;
const scrollClass = id ? "scroll-mt-32" : "";
---

<section
    id={id}
    class={`w-full lg:w-[900px] mx-auto ${scrollClass} ${className}`}
>
    <slot />
</section>
