---
const { class: className = "", id } = Astro.props;
---

<section id={id} class={`w-full lg:w-[900px] mx-auto ${className}`}>
    <slot />
</section>

<style is:global>
    section[id] {
        scroll-margin-top: var(--header-height, 128px);
    }
</style>
