---
// src/layouts/Layout.astro
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";

interface Props {
    title: string;
    description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={"description"} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/faviconjpc.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="relative min-h-screen bg-transparent">
        <!-- Fondo -->
        <div
            class="pointer-events-none fixed inset-0 -z-10 w-full h-full bg-[radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
        >
        </div>

        <!-- Contenido -->
        <Header />
        <slot />
        <Footer />
        <!-- Script para calcular altura del header -->
        <script>
            function updateHeaderHeight() {
                const header = document.getElementById("main-header");
                if (header) {
                    document.documentElement.style.setProperty(
                        "--header-height",
                        header.offsetHeight + "px"
                    );
                }
            }

            window.addEventListener("load", updateHeaderHeight);
            window.addEventListener("resize", updateHeaderHeight);
        </script>
    </body>

    <style is:global>
        * {
            transition:
                color 0.3s ease,
                background-color 0.3s ease,
                border-color 0.3s ease;
        }

        html {
            font-family: "Onest Variable", system-ui, sans-serif;
            scroll-behavior: smooth;
        }

        html,
        body {
            background-color: #070728;
            min-height: 100vh;
            scroll-behavior: smooth;
        }

        body {
            background-color: #070728;
            min-height: 100vh; /* Quitamos flex para que sticky funcione */
            scroll-behavior: smooth;
        }

        @media (prefers-reduced-motion: reduce) {
            html {
                scroll-behavior: auto;
            }
        }
    </style>
</html>
